<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>학식 QR 구매</title>
</head>
<body>
<p th:text="${name}+'님 환영합니다!'"></p>
<a href="/coupon">쿠폰함</a>
<h3>QR 구매</h3>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwK-VZRtauwIvqS7YbCzwKBHaAX1_I00B78A&usqp=CAU" width="100px" height="50px"/>

<form action="/buyCoupon", method="get">
    <input type="text" name="menu"/><button onclick="alert('구매 완료되었습니다.');" style="cursor:pointer">구매</button>
</form>

<a href = "/login">로그아웃</a>
</body>
</html>
